


.row .col {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.row .col .card {
    display: flex;
    width: 400px;
    padding: 20px;
    height: 200px;
    box-shadow: 0 0 10px  rgba(160, 159, 159, 0.2);
    justify-content: center;
    border: none;
    border-radius: 25px;
}

.row .col .card h3 {
    display: flex;
    font-size: 22px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: right;
}

.row .col .card p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}