


.row .col {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.row .col .card {
    display: flex;
    width: 400px;
    padding: 20px;
    height: 200px;
    justify-content: center;
    border: none;
    border-radius: 25px;
}

.row .col .card h3 {
    display: flex;
    font-size: 22px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: right;
}

.row .col .card p {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

@media (min-width: 280px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 200px;
        padding: 5px;
        height: 110px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 370px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 240px;
        padding: 8px;
        height: 130px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 480px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 275px;
        padding: 8px;
        height: 150px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 600px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 300px;
        padding: 5px;
        height: 160px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 768px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 290px;
        padding: 5px;
        height: 170px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 19px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 13px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 920px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 303px;
        padding: 5px;
        height: 180px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 19px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 1024px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 360px;
        padding: 5px;
        height: 180px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 13px;
        display: flex;
        justify-content: center;
    }

  }

  @media (min-width: 1200px) {
    .row .col {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .row .col .card {
        display: flex;
        width: 380px;
        padding: 5px;
        height: 190px;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    
    .row .col .card h3 {
        display: flex;
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        text-align: right;
    }
    
    .row .col .card p {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

  }