@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin');

.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;

}


span {
    color:black;
    font-size:22px;
    display:flex;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    justify-items: space-between;
    text-decoration: none;
    
}

.container-2 {
    display: inline-flexbox;
    justify-content: space-around;
    text-decoration: none;
}

.container-2 .div:hover .FontAwesomeIcon .circle { color: #158cc3 }
.container-2 .div:hover .FontAwesomeIcon .search { color: #fff }
.container-2 .copy:hover { color: #fff }
.container-2 .vid:hover { color: #fff }
.container-2 .info:hover { color: #fff }
.container-2 .question:hover { color: #fff }