@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin');


.card-cont span {
    color:black;
    font-size:16px;
    display:flex;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    
}

.card-cont .container-2 {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-left: 100px;
}

@media (max-width: 850px) {
    .container-fluid .card-cont {
        display: flex;

        flex-direction: column;
        justify-content: left;
    }

    .card-cont .container-2 {
        display: absolute;
        position:relative;
        text-decoration: none;
        margin-left: 60px;
    }
    }



