a {
    color: #444444;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
     justify-content: right;
  }
  
  
  
  
  /* Hamburger */
  .hamburger1 {
    height: 10px;
    margin: 32px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: right;
    z-index: 120;
    margin-right: 10vw;
  }

  .hamburger1 div {
    background-color: rgb(61, 61, 61);
    justify-content: right;
    width: 23px;
    height: 1px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -0.5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 200px;
  }
  
  
  /* Menu */
  .menu1 {
    margin-left: 5vw;
    display: -ms-grid;
    margin-bottom: -70px;
    list-style: none;
    clear: both;
    width: auto;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    justify-content: left;
    justify-items: left;
    float: left;
    position: relative;

  }

  .menu1 a:first-child {
    margin-top: 20px;
    color: inherit;
    justify-content: left;
    justify-items: left;
    float: left;
    position: relative;
  } 

  hr {
    width: 90vw;
    border-top: 1px solid rgb(158, 154, 154);
    margin-top: 10px;
  }
  
  .link1 {
    width: 100%;
    padding: 1px;
    color: inherit;
    justify-items: left;
    float: left;
    position: relative;
    font: 500 14px 'Open Sans', sans-serif;
    text-decoration: none;
    display: space-evenly;
    color: #444444;
    justify-content: left;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    justify-items: left;
    float: left;
    position: relative;
  }