.header-v6 {
	z-index: 99;
	position: relative;
}

@media (min-width: 280px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 350px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 480px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 600px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 768px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 900px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 1024px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}

@media (min-width: 1200px) {

	.header-v6 .navbar .menu-container .nav .dropdown .first {
		width: 10px;
	}	
}