@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin');

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  font-family: 'Open Sans', sans-serif;
}

.centered h1 {
    text-align: center;
    font-size: 46px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    line-height: 40px;
}

.header img {
  opacity: 0.5;
}

@media (min-width: 280px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    color: rgb(33, 33, 33);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    line-height: 13px;
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 350px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    color: rgb(33, 33, 33);
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    line-height: 15px;
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 380px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    color: rgb(33, 33, 33);
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    line-height: 17px;
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 500px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    font-size: 26px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgb(33, 33, 33);
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 600px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    position: absolute;
    margin-top: 70px;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
    text-align: center;
    font-size: 30px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    width: 100%;
}

.centered h3 {
    position: absolute;
    margin-top: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    line-height: 30px;
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 768px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    font-size: 32px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(33, 33, 33);
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 900px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(33, 33, 33);
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 1024px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    font-size: 38px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: rgb(33, 33, 33);
}

.header img {
  opacity: 0.5;
}
}

@media (min-width: 1200px) {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .centered h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    line-height: 60px;
}

.header img {
  opacity: 0.5;
}
}
