@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin');

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  font-family: 'Open Sans', sans-serif;
}

.centered h1 {
    text-align: center;
    font-size: 46px;
    color: rgb(33, 33, 33);
    font-weight: 800;
    margin-bottom: 14px;
}

.centered h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: rgb(33, 33, 33);
}

.header img {
  opacity: 0.5;
}